#hud {
	height:70px;
}
.cell {
	position: absolute;
}
.box {
	background-color: black;
}
.snake {
	background-color: green;
}
.treat {
	background-color: red;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}